*{
    padding: 0;
    margin: o;
}
body{
   font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6{
   font-family: 'Montserrat', sans-serif;
}



/* Header Sectionh CSS  */

header{
   width: 100%;
   background: #fcdb00;
}
header .bg-light{
   background: transparent !important;
   padding: 0;
}
header .nav-item {
   margin: 30px 15px;
}
header .navbar-light .navbar-nav .nav-link {
   font-size: 22px;
   font-weight: 700;
   color: #010101;
   transition: 0.5s ease-in;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(15 51 228 / 88%);
    transition: 0.5s ease-in;
}
header .header-icon{}
header .header-icon a{
   margin-right: 30px;
}
header .header-icon a i{
   color: #010101;
   font-size: 42px;
}
header .header-text{}
header .header-text h2{
   font-size: 32px;
   font-weight: 700;
   color: #010101;
}
header .header-text h6{
   font-size: 20px;
   font-weight: 500;
   color: #313841;
}
header .header-text p{
   font-size: 16px;
   font-weight: 400;
   color: #555555;
}
header .header-img {
   text-align: right;
   margin-right: 60px;
}
header .header-img img{}


/* Feature Section CSS  */

.feature {}
.feature .feature-text{
    text-align: center;
    margin: 100px 0;
}
.feature .feature-text h2{
    color: #010101;
    font-size: 32px;
    font-weight: 700;
}
.feature .feature-text p{
    color: #313841;
    font-size: 20px;
    font-weight: 400;
}
.feature  .gallary{
    margin-bottom: 35px;
}
.feature  .gallary .media{}
.feature  .gallary .media a {
    color: #010101;
     
}
.feature  .gallary .media a i{
    color: #010101;
    font-size: 50px;

}
.feature  .gallary .media .fa-code{
    font-size: 30px;
}
.feature  .gallary .media .fa-envelope-o{
    font-size: 40px;
}
.feature  .gallary .media .fa-folder-o{
    font-size: 40px;
}
.feature  .gallary .media .media-body{
    margin-left: 25px;
}
.feature  .gallary .media .media-body h5{
    color: #010101;
    font-size: 22px;
    font-weight: 500;
    padding: 0 0 10px;
}
.feature  .gallary .media .media-body  p{
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    padding-right: 10px;
}


/* Footer  sECTION css */

.footer{
    background: #010101;
}
.footer .top-footer{}

.footer .top-footer .footer-text{}
.footer .top-footer .footer-text h2{
    color: #fcdb00;
    font-size: 32px;
    font-weight: 700;
}
.footer .top-footer .footer-text p{
    color: #898989;
    font-size: 20px;
    font-weight: 400;
}
.footer .top-footer .form-inline {margin: 0 auto;}
.footer .top-footer .form-inline.form-group {}
.footer .top-footer .form-inline .form-group .form-control{
    width: 100%;
    background: #fcdb00;
    border-color: #fcdb00;
    transition: 0.5s ease-in;
}


.form-control:focus,.form-control:hover {
    color: #fcdb00;
    background-color: transparent !important;
    border-color: #fcdb00 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(252,219,0,.5);
    transition: 0.5s ease-in;
}
.footer .top-footer .form-inline .btn{
    width: 22%;
    background: #fcdb00;
    border-color: #fcdb00;
    color: #010101;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    transition: 0.5s ease-in;
}
.footer .top-footer .form-inline .btn:hover{
    background: transparent;
    color: #fcdb00;
    transition: 0.5s ease-in;
}
.btn-primary:hover{
    background: transparent;
    box-shadow: 0 0 0 0.2rem rgb(252,219,0,.5);
    transition: 0.5s ease-in;
}
.btn-primary:focus{
box-shadow: 0 0 0 0.2rem rgb(252,219,0,.5);
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(252,219,0,.5);
}
.footer .top-footer .footer-icon{
    text-align: center;
    margin: 50px;
}
.footer .top-footer .footer-icon a{
    margin: 20px;}
.footer .top-footer .footer-icon a i{
    color: #010101;
    font-size: 28px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fcdb00;
    border-radius: 10px;
    border: 2px solid #fcdb00;
    transition: 0.5s ease-in;
}
.footer .top-footer .footer-icon a i:hover{
    background: transparent;
    color: #fcdb00;
    border: 2px solid #fcdb00;
    transition: 0.5s ease-in;
}

/* Footer-Bottom CSS  */

.footer .box-left{
    margin: 19px 0;
    width: 100%;
}
.footer .box-left p{
    font-size: 14px;
    font-weight: 500;
    line-height: 13px;
    color: #fff;
}
.footer .box-link{
    margin: 0 50px;
}
.footer .box-link a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
    transition: 0.5s ease-in;
}
.footer .box-link a:hover{
    color: #fcdb00;
    transition: 0.5s ease-in;
}


/*Responsive CSS*/
/*@media (min-width:992px) and (max-width:1199px) {
    .footer .box-link {
        margin: 0;
    }
    
}*/
@media (min-width: 768px) and (max-width: 1024px){
    header .nav-item {
        margin:  0;
    }
    .img-fluid{
        margin-left: 35px;
    }
    header .header-text h2 {
        font-size: 25px;
    }
    header .header-text h6 {
        font-size: 17px;
    }
    header .header-text p{
        padding: 0 !important;
        text-align: justify;
        margin-top: 25px;
    }
    .feature .feature-text{
        margin: 55px 0;
    }
    .feature .feature-text p{
        font-size: 15px;
    }
    .feature .gallary .media .media-body {
    margin-left: 12px;
    }
    .feature .gallary .media .media-body h5 {
    font-size: 15px;
    font-weight: 500;
    }

    .feature .gallary .media a i {
    font-size: 35px;
    }
    .feature .gallary .media .media-body p {
    font-size: 10px;
    padding-right: 0px;
    }
    .footer .top-footer .footer-text p {
    font-size: 13px;
    font-weight: 500;
    }
    .footer .box-left p {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }
    .footer .box-link {
    margin: 0 0px;
    }
    .footer .box-link a {
    font-size: 14px;
    font-weight: 500;
    }
}      
@media (min-width: 481px) and (max-width: 767px){
    header .nav-item {
    margin: 0;
    }
    header .header-text {
    text-align: justify;
     }
     header .header-icon {
        text-align: center;
     }

    header .header-img {
    text-align: center;
    margin-left: 50px;
     }
     .feature .gallary {
    margin-bottom: 20px;
    }
    .feature .gallary .media {
    padding: 0 58px;
    }

    .feature .gallary .media .media-body h5{
        padding: 0;
    }
    .footer .top-footer .footer-text p{
        font-size: 16px;
    }
    .footer .top-footer .form-inline .btn {
    width: 50%;
    margin: 10px 120px;
}
    .footer .top-footer .footer-icon {
    margin: 30px;
    }
    .footer .top-footer .footer-icon a i {
    color: #010101;
    font-size: 25px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    }
    .footer .top-footer .footer-icon a {
    margin: 10px;
    }
    .footer .box-link {
    margin: 0;
    text-align: center;
    }
    .footer .box-left {
    margin: 19px 0 30px 42px;
    }
} 
@media (min-width: 320px) and (max-width: 480px) {
    header .navbar-light .navbar-nav .nav-link {
    font-size: 15px;
    font-weight: 600;
    }
    header .nav-item {
    margin: 0;
    }
    header .header-text {
    text-align: center;
    margin: 0 !important;
    padding: 15px !important;
    }
    header .header-text h2 {
    font-size: 30px;
    font-weight: 500;
    
    }
    header .header-text h6 {
    font-size: 14px;
    font-weight: 400;
    
    margin: 0 !important;
    padding: 0 30px 20px !important;
    }
    header .header-text p {
    font-size: 11px;
    font-weight: 400;
    
    margin: 0 !important;
    padding: 0 31px !important;
    }
     header .header-icon {
        text-align: center;
     }

    header .header-img {
    text-align: center;
    margin-left: 50px;
     }
     .feature .feature-text {
     
    margin: 20px 0px;
    }
    .feature .feature-text h2 {
    font-size: 25px;
    font-weight: 500;
    margin: 13px !important;
    }
    .feature .feature-text p {
    font-size: 12px;
    }
     .feature .gallary {
    margin-bottom: 0;
    }
    .feature .gallary .media {
    padding: 0 17px;
    }
    .feature .gallary .media a i {
    
    font-size: 20px;
    }
    .feature .gallary .media .fa-envelope-o {
    font-size: 19px;
    }

    
    .feature .gallary .media .fa-code {
    font-size:13px;
    }
    .feature .gallary .media .fa-folder-o {
    font-size: 19px;
    }
    .feature .gallary .media .media-body {
    margin-left: 15px;
    }
    .footer .top-footer .footer-text h2 {
    font-size: 20px;
    font-weight: 600;
    }
    .feature .gallary .media .media-body h5{
        padding: 0;
    }
    .footer .top-footer .footer-text {
    margin: 25px !important;
    }
    .footer .top-footer .footer-text p{
        font-size: 14px;
    }
    .footer .top-footer .form-inline .btn {
    width: 50%;
    margin-left: 62px;
    }
    .footer .top-footer .footer-icon {
        margin: 10px 0 10px 0px !important;
    }
    
    .footer .top-footer .footer-icon a i {
    font-size: 15px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    }
    .footer .top-footer .footer-icon a {
    margin: 4px;
    }
    .footer .box-link {
    margin-bottom: 20px;
    text-align: center;
    }
    .footer .box-left p {
    font-size: 14px;
    font-weight: 400;
    }
    .footer .box-link a {
    font-size: 14px;
    font-weight: 400;
    margin: 0px 0;
    }
    .footer .box-left {
    margin: 14px;
    text-align: center;
    }
    .footer .box-link {
    margin: 10px;
    }
    
}
   